.card {
  margin-top: 10%;
  text-align: center;
  width: 25%;
  /* display: flex; */
}

#start.container {
  justify-content: center;
  align-content: center;
  display: flex;
}

#btnContainer {
  margin-bottom: 20px;
}

.mb-5 {
  margin-top: 10px;
  text-align: center;
}
